<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.getir.readingisgood" level="INFO"/>
    <logger name="com.getir.readingisgood.logging.DefaultRequestLoggingFilter" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="INFO"/>
</configuration>